<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  
  <style>
    table,tr,th,td
    {
      border: 2px solid black;
      border-collapse: collapse;
      padding: 10px;
    }
  </style>

</head>
<body>
  <center>

    <h1>Displaying Dept Table</h1>

    <table>
      <tr>
        <th>deptno</th>
        <th>dname</th>
        <th>loc</th>
      </tr>
      {% for do in dept %}
        <tr>
          <td>{{ do.deptno }}</td>
          <td>{{ do.dname }}</td>
          <td>{{ do.loc }}</td> 
        </tr>      
      {% endfor %}
    </table>


  </center>
</body>
</html>